<header class="header">
  <div class="header__container container">
    <a href="./#hero" class="header__logo">
      Omnex<span class="header__logo-accent">-Xie</span>
    </a>

    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__item"><a href="./#hero" class="header__link">Главная</a></li>
        <li class="header__item"><a href="./#methodology" class="header__link">Методология</a></li>
        <li class="header__item"><a href="./#blog" class="header__link">Инсайты</a></li>
        <li class="header__item"><a href="./#community" class="header__link">Сообщество</a></li>
      </ul>
    </nav>

    <div class="header__actions">
      <a href="./#contact" class="btn btn--small">Начать сейчас</a>
      <button class="header__burger" aria-label="Открыть меню">
        <i data-lucide="menu"></i>
      </button>
    </div>
  </div>
</header>